<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row" style="margin-top: 10px">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img src="img/shopping_cart.png" class="img-responsive" height="100" width="100">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: left;">
        <h3>Shopping Cart ...</h3>
      </div>
  </div>
  <div class="row jumbotron" style="margin-top: 10px">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <img src="/img/apple-iphone-x.jpg" class="img-responsive" height="200" width="200">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h3>Apple iPhone X</h3>
              <div>
                  <span class="glyphicon glyphicon-minus-sign link" style="font-size: 25px"
                        aria-hidden="true" (click)="updateIPhoneCount('remove')"></span>
              </div>
              <div style="width: 20px; text-align: center">
                  <span style="font-size: large;">{{iphoneCount}}</span>
              </div>
              <div>
                  <span class="glyphicon glyphicon-plus-sign link" style="font-size: 25px"
                        aria-hidden="true" (click)="updateIPhoneCount('add')"></span>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <img src="/img/samsung-galaxy-note-8.jpg" class="img-responsive" height="200" width="200">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h3>Samsung Galaxy Note 8</h3>
              <div style="width: 20px">
                  <span class="glyphicon glyphicon-minus-sign link" style="font-size: 25px"
                      aria-hidden="true" (click)="updateS8Count('remove')"></span>
              </div>
              <div style="width: 20px; text-align: center">
                  <span style="font-size: large;">{{s8Count}}</span>
              </div>
              <div style="width: 20px">
                  <span class="glyphicon glyphicon-plus-sign link" style="font-size: 25px" aria-hidden="true"
                      (click)="updateS8Count('add')"></span>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>User Details</h3>
    </div>
    <div class="container-fluid">
      <div class="row panel-body" style="margin-top: 10px;font-size: large">
        <div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="label label-default ">Login ID : </span></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span>{{order.user.loginId}}</span></div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="label label-default">User Name : </span></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span>{{order.user.properties.displayName}}</span></div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="label label-default">Mobile Number : </span></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span>{{order.user.properties.mobile}}</span></div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="label label-default">Email : </span></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span>{{order.user.properties.email}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Delivery Address</h3>
    </div>
    <div class="container-fluid">
      <div class="row panel-body" style="margin-top: 10px;font-size: large">

        <div>
          <div *ngFor="let contact of order.contacts; let i = index">
            <div class="radio">
              <label><input type="radio" checked name="deliveryoptradio">{{contact.contactName + " - "
                + contact.contactNumber + "(mob) - " + contact.address.streetAddress + " "
                + contact.address.postCity + " " + contact.address.postCode}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Billing Details</h3>
    </div>
    <div class="container-fluid">
      <div class="row panel-body" style="margin-top: 10px;font-size: large">
        <div>
            <div class="radio">
              <label><input type="radio" name="billoptradio" checked>
                <div>
                  <p>{{order.billingDetails.billingAccountId}} </p>
                  <p>{{order.billingDetails.billType}}</p>
                  <p>{{order.billingDetails.payerName}} ({{order.billingDetails.contactNumber}})</p>
                  <p>{{order.billingDetails.email}}</p>
                  <p>{{order.billingDetails.address.streetAddress + " " +
                    order.billingDetails.address.postCity + " " + order.billingDetails.address.postCode}}</p>
                </div>
              </label>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row jumbotron" style="margin-top: 10px">
    <div>
      <button class="btn btn-primary" (click)="placeOrder()"><span style="font-size: large">Place Order</span></button>
    </div>
    <br>
    <div *ngIf="orderCreated">
      <div class="alert alert-info" role="alert">Order {{orderCreated.id}} placed successfully ... </div>
      <button class="btn btn-primary" (click) = "showTimeline()">Check Order Status</button>
    </div>
    <div *ngIf="orderStatus" style="margin-top: 40px">
        <div style="width: 40px">
          <div *ngFor="let status of orderStatus; let i = index">
            <div *ngIf="status.status == 'completed'">
              <img src="img/Yes_Check_Circle.svg.png" height="50" width="50" class="img-responsive">
              <span style="font-size: large; font-family: Consolas;font-style: italic">{{status.step}}</span>
            </div>
            <div *ngIf="status.status != 'completed'">
              <img src="img/red_circle.png" class="img-responsive" height="50" width="50">
              <span style="font-size: large; font-family: Consolas;font-style: italic">{{status.step}}</span>
            </div>
            <div *ngIf="(i+1) != orderStatus.length"><img src="img/blue_bar.png" class="img-responsive"></div>
          </div>
        </div>
    </div>
  </div>
</div>

